<div class="modal fade" id="modal" data-step="<%= @step ? @step.id : '' %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New Step</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <%= render partial: "layouts/test_list_select" %>

            <div class="form-group">
              <label>Step Type: </label>
              <select name="action_type" class="form-control">
                <% Step.web_step_types.keys.each do |stepKey| %>
                    <option value="<%= stepKey %>">
                        <%= Step.web_step_types[stepKey] %></option>
                <% end %>
              </select>
            </div>

            <div class="form-group">
              <label>Wait time in milliseconds:</label>
              <input name="wait" type="text" class="form-control" value="100">
            </div>

            <%= render partial: "step/extract_step_result" %>

            <button type="button" class="btn btn-default add-new-step">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>