<div class="modal fade" id="stepConfigModal" data-step="<%= @step.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Step Config</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="save-config">
          <input type="hidden" name="step_id" value="<%= @step.id %>">

          <div class="form-group">
            <label for="pre_run_tests">
              <a href="/doc#pretest" target="_blank">Pre tests</a>
              to run before the step (Ex: Log in)
            </label>
            <select data-placeholder="Select Tests" class="chosen-select form-control"
                    multiple name="pre_run_tests[]">
              <% Suite.where(user: current_user).each do |s| %>
                  <optgroup label="<%= s.title %>">
                    <% s.tests.each do |test| %>
                        <% if @step.test != test %>
                            <option value="<%= test.id %>"><%= test.title %></option>
                        <% end %>
                    <% end %>
                  </optgroup>
              <% end %>
            </select>
          </div>

          <div class="form-group">
            <label for="extract">Extract from resulted page load:</label><br>

            <div id="extract-list" class="form-group">
              <% @step.extracts.each do |extract| %>
                  <div>
                    <span class="hash-pair"><%= extract.title %></span> :
                    <span class="hash-pair"><%= extract.command %></span>

                    <span class="glyphicon glyphicon-remove remove-extract" data-id="<%= extract.id %>"></span>
                  </div>
              <% end %>
            </div>

            <a id="add-empty-extract" class="pointer">Extract Result Parameters</a>
          </div>

          <div id="empty-extract-list" class="form-group"></div>
          <button type="button" class="btn btn-primary submit">Save</button>
        </form>

        <div class="error-modal"></div>
      </div>
    </div>
  </div>
</div>


