<div class="modal fade" id="modal" data-step="<%= @step.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Pick a selector for this click</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            <div class="form-group">
              <label>CSS Selectors of clicked elements: </label>
              <select name="selector" class="form-control">
                <% @step.config[:selectors].each do |selector| %>
                    <option value="<%= selector %>"><%= selector %></option>
                <% end %>
              </select>
              <button type="button" class="btn btn-primary save-click-step">Save</button>
            </div><hr>
        </form>

        <form id="edit-click-form">
          <div class="form-group form-inline">
            <label>Selectors of clicked elements: </label>
            <select id="selectorType" name="selectorType" class="form-control">
              <option value="id">ID</option>
              <option value="class">Class Name</option>
              <option value="tag">Tag Name</option>
              <option value="name">Name</option>
              <option value="partialLink">Partial Link Text</option>
              <option value="href">Link Href</option>
              <option value="button">Button Text</option>
              <option value="css">CSS Selector</option>
              <option value="coordination">Coordination</option>
            </select>
          </div>

          <div id="custom-click-selector">
              <div class="form-group form-inline">
                <label>ID: </label>
                <input name="selector" type="text" class="form-control" placeholder="Ex: container">
              </div>
          </div>

          <button type="button" class="btn btn-primary save-click-step">Save</button>
        </form>

        <div id="choose-by-css" style="display: none;">
          <div class="form-group form-inline">
            <label>CSS Selector: </label>
            <input name="selector" type="text" class="form-control" placeholder="Ex: #form .submit">
          </div>

          <div class="form-group form-inline">
            <label>Index: </label>
            <input name="index" type="text" class="form-control">
          </div>
        </div>

        <div id="choose-by-href" style="display: none;">
          <div class="form-group form-inline">
            <label>Link Href: </label>
            <input name="selector" type="text" class="form-control" placeholder="Ex: index.html">
          </div>

          <div class="form-group form-inline">
            <label>Index: </label>
            <input name="index" type="text" class="form-control">
          </div>
        </div>

        <div id="choose-by-button" style="display: none;">
          <div class="form-group form-inline">
            <label>Button Text: </label>
            <input name="selector" type="text" class="form-control" placeholder="Ex: Submit">
          </div>

          <div class="form-group form-inline">
            <label>Index: </label>
            <input name="index" type="text" class="form-control">
          </div>
        </div>

        <div id="choose-by-partialLink" style="display: none;">
          <div class="form-group form-inline">
            <label>Partial Link Text: </label>
            <input name="selector" type="text" class="form-control" placeholder="Ex: Click Here">
          </div>

          <div class="form-group form-inline">
            <label>Index: </label>
            <input name="index" type="text" class="form-control">

            <button type="button" class="btn btn-primary save-click-step">Save</button>
          </div>
        </div>

        <div id="choose-by-name" style="display: none;">
          <div class="form-group form-inline">
            <label>Name: </label>
            <input name="selector" type="text" class="form-control">
          </div>

          <div class="form-group form-inline">
            <label>Index: </label>
            <input name="index" type="text" class="form-control">
          </div>
        </div>

        <div id="choose-by-tag" style="display: none;">
          <div class="form-group form-inline">
            <label>Tag Name: </label>
            <input name="selector" type="text" class="form-control" placeholder="input">
          </div>

          <div class="form-group form-inline">
            <label>Index: </label>
            <input name="index" type="text" class="form-control">
          </div>
        </div>

        <div id="choose-by-class" style="display: none;">
          <div class="form-group form-inline">
            <label>Class Names: </label>
            <input name="selector" type="text" class="form-control" placeholder="Ex: btn btn-primary">
          </div>

          <div class="form-group form-inline">
            <label>Index: </label>
            <input name="index" type="text" class="form-control">
          </div>
        </div>

        <div id="choose-by-id" style="display: none;">
          <div class="form-group form-inline">
            <label>Choose by ID: </label>
            <input name="selector" type="text" class="form-control">
          </div>
        </div>

        <div id="choose-by-coordination" style="display: none;">
          <div class="form-group form-inline">
            <label>Click Coordination: </label>
            <br>
            <label>x: </label>
            <input name="x" type="text" class="form-control" value="<%= @step.config[:x] %>">

            <label>y: </label>
            <input name="y" type="text" class="form-control" value="<%= @step.config[:y] %>">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>