<div class="modal fade" id="modal" data-step="<%= @step.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit page load </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="edit-pageload-form">
            <%= render partial: "layouts/test_list_select" %>
            <%= render partial: "step/extract_step_result" %><hr>

            <div class="form-group">
              <label>Method: </label>
              <select name="method" class="form-control">
                <option <%= (@step.config.present? and @step.config[:method] == 'GET') ? 'selected' : '' %>>GET</option>
                <option <%= (@step.config.present? and @step.config[:method] == 'POST') ? 'selected' : '' %>>POST</option>
              </select>
            </div>

            <div class="form-group">
              <label for="webpage">Webpage:</label>
              <input name="webpage" type="text" class="form-control" value="<%= @step.webpage %>">
            </div>

            <div class="form-group">
              <label for="webpage">Headers:
                <% if @step.config and @step.config[:headers].present? %>
                    <% @step.config[:headers].each do |key, value| %>
                        <div class="hash-pair">
                          <%= key %> : <%= value %>

                          <span class="glyphicon glyphicon-remove remove-header-param"
                                data-key="<%= key %>"></span>
                        </div>
                    <% end %>
                <% end %>
              </label> <br>
              <a id="add-headers" class="pointer"> Add New Header</a>
            </div>
            <div id="header-list" class="form-group"></div>

            <div class="form-group">
              <label for="webpage">Params:
                <% if @step.config and @step.config[:params].present? %>
                    <% step.config[:params].each do |key, value| %>
                        <div class="hash-pair">
                          <%= key %> : <%= value %>

                          <span class="glyphicon glyphicon-remove remove-pageload-param"
                                data-key="<%= key %>"></span>
                        </div>
                    <% end %>
                <% end %>
              </label> <br>
              <a id="add-pageload-param" class="pointer"> Add New Param</a>
            </div>
            <div id="pageload-param-list" class="form-group"></div>

            <div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary submit" >Save changes</button>
            </div>
      </form>
      </div>
      </div>
    </div>
  </div>
</div>