<div class="step-list-item <%= step.complete? ? '' : 'non-complete-step' %>" data-step="<%= step.id %>">
  <span>Step <b><%= (defined?(index) ? index : step.order)  + 1 %></b>: </span>
  wait <span class="wait"><b><%= step.wait %></b></span> millisec, then<br>
  <%= Step.web_step_types[step.action_type] %>

  <% case step.action_type
       when 'pageload' %> <b><%= step.webpage %></b><br>
          <span>screen size: <%= step.screenwidth %> x <%= step.screenheight %></span>

      <% when 'scroll' %> to
          <span class="scrollLeft"><b><%= step.scrollLeft %></b></span> px
          <span class="scrollTop"><b><%= step.scrollTop %></b></span> px

      <% when 'click' %> on <strong><%= translateClickSelector step.selector %></strong>

      <% when 'keypress' %>
          <b><%= step.typed %></b>

      <% when 'resize' %> to <span><%= step.screenwidth %> x <%= step.screenheight %></span>
      <% else %>
  <% end %>

  <button class="hover-edit-btn btn visible-hover">
    <span class="glyphicon glyphicon-edit"></span> Edit
  </button>

  <div>
      <a class="show-config-modal">config</a>
      <% step.extracts.each do |extract| %>
            <span class="hash-pair"><%= extract.title %></span>
      <% end %>
  </div>

  <button class="add-step-after btn visible-hover">
      <span class="glyphicon glyphicon-plus"></span> Step after
  </button>

  <button class="delete-step visible-hover">x</button>
</div>
