<p id="notice"><%= notice %></p>
<h2>All Suites (<%= @suites.count %> total)</h2>

<a class="add-suite-modal pointer">
  <span class="glyphicon glyphicon-plus"></span> Add Suite</a>

<div class="container">
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Suite Title</th>
    <th>Test Count</th>
    <th>Last Updated</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @suites.each do |suite| %>
    <tr>
      <td><%= link_to "#{suite.title}", controller: "suites", action: "show", id: suite.name %>
          <span class="glyphicon glyphicon-edit"></span>
      </td>
      <td><%= link_to "#{suite.tests.count}", controller: "suites", action: "show", id: suite.name %></td>
      <td><%= suite.updated_at.strftime("%B %d, %Y") %></td>

      <td>
        <%= render "suites/delete_btn", suite: suite %>
        |
        <a class="add-test-modal pointer" data-suite="<%= suite.id %>">
          <span class="glyphicon glyphicon-plus"></span> Add Test</a>
      </td>
    </tr>
  <% end %>
</tbody>
</table>
</div>

<br>


