<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @suite.title %>
</p>

<%= link_to raw('<span class="glyphicon glyphicon-plus"></span> Add Test') %>

<%= render partial: "layouts/test_list_select" %>

<div class="container">
  <h2>All Tests in this Suite (<%= @suite.tests.count %> total)</h2>

  <% @tests = @suite.tests %>
  <%= render file: "tests/index" %>
</div>

