<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @suite.title %>
</p>

<%= link_to raw('<span class="glyphicon glyphicon-plus"></span> Add Test') %>

<div class="container-fluid">
  <div class="col-sm-6"><br>
    <label>Suite config:</label>

    <form id="suite-config-form" action="/suites/saveConfig" method="post">
      <div id="pretest-for-suite">
        <%= render partial: "layouts/test_list_select", suite: @suite %>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>

  <div class="col-sm-6">
    <h2>Tests in this Suite (<%= @suite.tests.count %> total)</h2>

    <% @tests = @suite.tests %>
    <%= render file: "tests/index" %>
  </div>
</div>

