<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @suite.title %>
</p>

<a class="add-test-modal pointer" data-suite="<%= @suite.id %>">
  <span class="glyphicon glyphicon-plus"></span> Add Test</a>

<div class="container-fluid">
  <div class="col-sm-6"><br>
    <label>Suite config:</label>

    <%= form_tag("/suites/saveConfig", method: "post") do %>
        <input type="hidden" name="id" value="<%= @suite.id %>">
        <div id="pretest-for-suite">
          <%= render template: "suites/edit" %>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    <% end %>
  </div>

  <div class="col-sm-6">
    <h2>Tests in this Suite (<%= @suite.tests.count %> total)</h2>

    <% @tests = @suite.tests %>
    <%= render "tests/list", tests: @suite.tests %>
  </div>
</div>

