<h2> Result for test <a href="<%= @test.url %>"><b><%= @test.title %></b></a></h2>

<p>
  Date Ran: <%= @results.first.updated_at %>
</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4">
      <h4>Failed Assertions: </h4>
        <% if @results.size > 1 %>
          <% @results.each do |result| %>
            <% if result.assertion.assertion_type != 'report' %>
                <p style="color: red;"><span class="glyphicon glyphicon-remove"></span>

                  <% if result.assertion.test %>
                      <%= result.assertion.label %>
                  <% else %>
                      <%= Assertion.default_assertions[result.assertion.assertion_type].titleize %>
                  <% end %>

                  <% if result.step.present? %>
                      (Step <b><%= result.step.order %>):</b><br>
                  <% else %>
                      : <b><%= result.assertion.condition %></b>
                  <% end %>
                  <% if result.error and result.error.length  > 60 %>
                    <span><%=  result.error[0..60] %> <a onclick="showmore('hide<%= result.id %>','vm<%= result.id %>')"; id="vm<%= result.id %>">View More</a></span>
                    <span id="hide<%= result.id %>" class="collap" style="display:none;"><%=  result.error[61..-1] %></span>
                  <% else %>
                      <%=  result.error %>
                  <% end %>
                </p>
            <% end %>
          <% end %>
        <% else %>
          <p>No failed assertions!</p>
        <% end %>
    </div>

    <div class="col-xs-8">
      <% url = video_aws_path(@runId) %>
      <video width=100% controls>
        <source src="<%= url %>.mp4" type="video/mp4">
      </video>
    </div>
  </div>
</div>
