<h2> Result for test <a href="<%= @test.url %>"><b><%= @test.title %></b></a></h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <h4>Failed Assertions: </h4>
      <p>
        <% @results.each do |result| %>
            <span class="glyphicon glyphicon-remove"></span>
            <%= result.assertion.label.titleize %>
            <% if result.step.present? %>
                (Step <b><%= result.step.order %>):</b><br>
            <% else %>
                : <b><%= result.assertion.condition %></b>
            <% end %>

            <%= result.error %>
      </p>
      <% end %>
    </div>

    <div class="col-xs-6">
      <% @test.steps.each do |step| %>
          <% url = step.screenShot(@runId) %>
          Step <b><%= step.order %></b>: <%= step.title %> <br>
          <a href="<%= url %>">
            <img class="step-screenshot" height="200" src="<%= url %>">
          </a><br><br>
      <% end %>
    </div>
  </div>
</div>
