<h2> Result for test <a href="<%= @test.url %>"><b><%= @test.title %></b></a></h2>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <h4>Failed Assertions: </h4>
        <% @results.each do |result| %>
          <p><span class="glyphicon glyphicon-remove"></span>
            <%= result.assertion.label.titleize %>
            <% if result.step.present? %>
                (Step <b><%= result.step.order %>):</b><br>
            <% else %>
                : <b><%= result.assertion.condition %></b>
            <% end %>
            <% if result.error.length  > 60 %>
              <span><%=  result.error[0..60] %> <a onclick="showmore('hide<%= result.id %>','vm<%= result.id %>')"; id="vm<%= result.id %>">View More</a></span>
              <span id="hide<%= result.id %>" class="collap" style="display:none;"><%=  result.error[61..-1] %></span>
            <% else %>
                <%=  result.error %>
            <% end %>
          </p>
      <% end %>
    </div>

    <div class="col-xs-6">
      <% @test.steps.each do |step| %>
          <% url = step.screenShot(@runId) %>
          Step <b><%= step.order %></b>: <%= step.title %> <br>
          <a href="<%= url %>">
            <img class="step-screenshot" height="200" src="<%= url %>">
          </a><br><br>
      <% end %>
    </div>
  </div>
</div>
