<table class="table table-bordered">
  <thead>
    <tr>
      <th>Test Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% tests.each do |test| %>
      <% suite = test.suite %>

      <tr>
        <td><a href="<%= showUrl test %>"> <%= test.title %></a> (<%= pluralize test.steps.count, 'step' %>)</td>
        <td>
          <%= test.description %></td>
        <td><%= render "tests/delete_btn", test: test %>
            <%= render "tests/edit_btn", test: test %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
