<br><br>
<div class="container-fluid">
<div class="row">
<div class="col-sm-10 col-sm-offset-1">

<% if params[:suite_id] %>
      <% suite = Suite.find params[:suite_id] %>
    <h2 class="h2-title">View Test in Suite <b><%= suite.name %></b></h2>
<% else %>
    <h2 class="h2-title">All Tests - <small>You have created <b><%= testCount %></b> tests in total</small></h2>
<% end %>

<% if current_user.suites.count > 0 %>
    <a class="add-test-modal pointer inline-btn btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus"></span> Add Test</a>
<% else %>
    You do not have any suite yet. Please
    <a class="add-suite-modal pointer inline-btn btn btn-default btn-lg">
      <span class="glyphicon glyphicon-plus"></span> Add Suite</a>
    before adding tests.
<% end %><br>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Suite</th>
      <th>Test Title</th>
      <th>Actions</th>
      <th>Created At</th>
    </tr>
    </thead>

    <tbody>
    <% @tests.each do |test| %>
        <% suite = test.suite %>

        <tr>
          <td><%= link_to suite.title, controller: "suites", action: "show", id: suite.name %></td>
          <td><a href="<%= showUrl test %>"> <%= test.title %> </a>
            (<%= pluralize test.steps.count, 'step' %>)</td>
          <td><%= render "tests/delete_btn", test: test %>
            <%= render "tests/edit_btn", test: test %>
          </td>
          <td><%= test.created_at %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
</div>

<% if params[:page] %>
    <% if @current_page != 1 %>
        <span><a href="?page=<%= params[:page].to_i - 1 %>">Previous</a></span>
    <% end %>
    <%(1..@num_page).each do |pg| %>
        <% if pg == @current_page %>
            <span>Current Page (<%= params[:page] %>)</span>
        <% else %>
            <span><a href="?page=<%= pg %>"><%= pg %></a></span>
        <% end %>
    <% end %>
    <% if @current_page != @num_page %>
        <span><a href="?page=<%= params[:page].to_i + 1 %>">Next</a></span>
    <% end %>
<% end %>

<br><br><br>