<h2>All Tests (<%= testCount %> total)</h2>

<a class="add-test-modal pointer">
  <span class="glyphicon glyphicon-plus"></span> Add Test</a>


<div class="form-inline">
  <label for="email">Type to filter:</label>
  <input type="text" class="form-control" id="filter-test">
</div>


<div class="container">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Suite</th>
      <th>Test Title</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <% suite = test.suite %>

      <tr>
        <td><%= link_to suite.title, controller: "suites", action: "show", id: suite.name %></td>
        <td><a href="<%= showUrl test %>"> <%= test.title %></a></td>
        <td>
          <%= render "tests/delete_btn", test: test %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>