<div class="modal fade" id="newTestModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= @test.present? ? 'Edit' : 'New' %> Test</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @test.present? %>
            <% url = "/tests/#{@test.id}" %>
            <% method = 'put' %>
        <% else %>
            <% url = '/tests' %>
            <% method = 'post' %>
            <% @test = Test.new %>
        <% end %>

        <%= form_tag(url, method: method) do %>
            <% if @test.id.present? %>
                <input name="test_id" type="hidden" value="<%= @test.id %>">
            <% end %>

            <div class="form-group">
              <label>Title: </label>
              <input name="title" type="text" class="form-control" required="true"
                     value="<%= @test.title %>">
            </div>

            <div class="form-group">
              <label>Description: </label>
              <input name="description" type="text" class="form-control"
                     value="<%= @test.description %>">
            </div>

            <div class="form-group">
              <label>Suite: </label>
              <select name="suite" class="form-control" required="true">
                <% current_user.suites.each do |suite| %>
                    <option value="<%= suite.id %>"><%= suite.title %></option>
                <% end %>
              </select>
            </div>

            <div>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary submit">Save</button>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>

<% if @suite %>
    <script>
        $("#newTestModal select[name*='suite']").val('<%= @suite.id %>');
        $("#newTestModal select[name*='suite']").trigger("chosen:updated");
    </script>
<% end %>