<p id="notice"><%= notice %></p>
<% suite = @test.suite %>

<div style="display: none;" id="page_info" data-test="<%= @test.id %>"></div>

<% if @test.session_expired_at and
    @test.session_expired_at.to_formatted_s(:number) > Time.now.to_formatted_s(:number) %>
    <button id="stopRecording" class="btn btn-danger">Stop recording steps</button>
<% else %>
    <button id="startRecording" class="btn-primary btn">Start recording steps</button>
    <button id="runTest" class="btn-primary btn">Run Test</button>
    <button id="addNewStep" class="btn-primary btn">Add Step</button>
<% end %>

<h4 style="display: block; width:300px; margin: 0 auto;">Test: <%= @test.title %> <span class="glyphicon glyphicon-edit"></span></h4>

<p>
  <strong>Suite:</strong>
  <%= link_to suite.title, controller: "suites", action: "show", id: suite.name %>
  <span class="glyphicon glyphicon-edit"></span>
</p>
<p><strong>Lastest Run:</strong> N/A</p>

<% if @test.description.present? %>
    <p>
      <strong>Description:</strong>
      <%= @test.description %>
    </p>
<% end %>

<div id="validation_err"></div>

<% if suite.pre_tests.count > 0 %>
    <div>To run before the test:
      <% suite.pre_tests.each do |test| %>
          <a class="hash-pair" href="<%= test.url %>"><%= test.title %></a>
        <% end %>
    </div>
<% end %>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <div><br> Define your test parameters (can override when run)<br>
        <div id="test_params"><%= render "tests/test_params" %></div>

        <a id="add-test-params" class="pointer"> Add New Test Params</a>
        <button id="submit-test-params" style="display: none;">Add</button>

        <div id="test-params-input-list"></div>
      </div>

      <div><br> Assertions:
        <a id="add-assertion" class="pointer"> Add Assertion</a><br>

        <div id="assertion-list">
          <% @test.assertions.each do |assertion| %>
              <%= render "assertions/show_assertion", assertion: assertion %>
          <% end %>
          <label><span class="glyphicon glyphicon-remove"></span>
            <input class="default-assertion" type="checkbox" checked> All tabs return 200 status</label>
          <label><span class="glyphicon glyphicon-remove"></span>
            <input class="default-assertion" type="checkbox" checked> All ajax requests return 200 status</label>
        </div>
      </div>
    </div>

    <div class="col-sm-7">
      <div id="step-list">
        <% if @test.steps.count > 0 %>
            <% @test.steps.order('steps.order').each do |step| %>
                <%= render "step/show_step", step: step %>
            <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>



