<p id="notice"><%= notice %></p>
<% suite = @test.suite %>

<div style="display: none;" id="page_info" data-test="<%= @test.id %>"></div>

<% if @test.session_expired_at and
    @test.session_expired_at.to_formatted_s(:number) > Time.now.to_formatted_s(:number) %>
    <button id="stopRecording" class="btn btn-danger">Stop recording steps</button>
<% else %>
    <button id="startRecording" class="btn-primary btn">Start recording steps</button>
    <% if @test.running %>
        <button id="showRunningTest" type="button" class="btn btn-danger" disabled>
          <span class="glyphicon glyphicon-repeat normal-left-spinner"></span>
          Test Running
        </button>
    <% else %>
        <button id="runTest" class="btn-primary btn">Run Test</button>
    <% end %>

    <button id="addNewStep" class="btn-primary btn">Add Step</button>
    <%= render "tests/delete_btn", test: @test %>
<% end %>

<h4 style="display: block; width:300px; margin: 0 auto;">Test: <%= @test.title %>
  <a><span class="glyphicon glyphicon-edit" title="Edit Test"
               onclick="showEditTestModal('<%= @test.id %>');"></span></a></h4>

<p>
  <strong>Suite:</strong>
  <%= link_to suite.title, controller: "suites", action: "show", id: suite.name %>
  <span class="glyphicon glyphicon-edit"></span>
</p>

<p>
  <strong>Lastest Run:</strong>
  <% if @result.present? %>
      <% count = @test.results.where(runId: @result.runId).count %>
      <a href="<%= @result.url %>"><%= time_ago_in_words @result.created_at %></a>
      (<%= pluralize(count - 1, ' failed assertion') %>)
  <% else %>
      never ran before
  <% end %>
</p>

<% if @test.description.present? %>
    <p>
      <strong>Description:</strong>
      <%= @test.description %>
    </p>
<% end %>

<div id="validation_err"></div>

<% if suite.pre_tests.count > 0 %>
    <div>To run before the test:
      <% suite.pre_tests.each do |test| %>
          <a class="hash-pair" href="<%= test.url %>"><%= test.title %></a>
      <% end %>
    </div>
<% end %>


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-5">
      <div><br> Define your test parameters (can override when run)<br>
        <div id="test_params"><%= render "tests/test_params" %></div>

        <a id="add-test-params" class="pointer"> Add New Test Params</a>
        
      </div>

      <div><br> Assertions:
        <a id="add-assertion" class="pointer"> Add Assertion</a><br>

        <div id="assertion-list">
          <% @test.assertions.each do |assertion| %>
              <%= render "assertions/show_assertion", assertion: assertion %>
          <% end %>
          <label><input class="default-assertion" type="checkbox" checked disabled>
              All tabs return 200 status</label>
          <label><input class="default-assertion" type="checkbox" checked disabled>
              All ajax requests return 200 status</label>
        </div>
      </div>
    </div>

    <div class="col-sm-7">
      <div id="step-list">
        <% if @test.steps.count > 0 %>
            <% @test.steps.order('steps.order').each_with_index do |step, index| %>
                <%= render "step/show", step: step , index: index %>
            <% end %>
        <% else %>
            <p>No step to display.</p>
        <% end %>
      </div>
    </div>

  </div>
</div>



