<% suite = @test.suite %>
<br><br>

<div class="container-fluid">
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
  <div class="row">
    <div class="col-sm-4">
      <div class="content-wrap">
      <h2 class="h2-title"> <small>Title:</small> <%= @test.title %></h2>
        <p>Suite:
          <strong>
            <%= link_to suite.title, controller: "suites", action: "show", id: suite.name %></strong>
        </p>

        <p>Steps Last Recorded:
          <strong>
            <% if @test.steps.count > 0 %>
                <%= @test.steps.first.created_at %>
            <% else %>
                never before
            <% end %>
          </strong>
        </p>

        <% if @test.code_generated_at %>
          <p>Code Last Generated:
            <strong><%= @test.code_generated_at %></strong>
          </p>
        <% end %>


        <% if @test.description.present? %>
            <p>Description: <strong><%= @test.description %></strong></p>
        <% end %>

        <div id="validation_err"></div>

        <% if suite.pre_tests.count > 0 %>
            <div>To run before the test:
              <% suite.pre_tests.each do |test| %>
                  <a class="hash-pair" href="<%= test.url %>"><%= test.title %></a>
              <% end %>
            </div>
        <% end %>
      <%= render "tests/delete_btn", test: @test %>
      <%= render "tests/edit_btn", test: @test %>
    </div>

    <br><br>

    <div class="content-wrap">
      <div>
        Define your <a href="/doc#testParam" target="_blank">test parameters</a><br>
        <div id="test_params"><%= render "tests/test_params" %></div>
          <button id="add-test-params" class="btn-primary btn inline-btn"> Add Test Params</button>
      </div>

        <div><br>
          <a href="/doc#assertion" target="_blank">Assertions</a>:
          <% if @test.assertions.count > 0 %>
              <div id="assertion-list">
                <% @test.assertions.each do |assertion| %>
                    <%= render "assertions/show_assertion", assertion: assertion %>
                <% end %>
              </div>
          <% else %>
              none defined.
          <% end %><br>

          <button id="add-assertion" class="btn btn-primary inline-btn">Add Assertion</button><br>
        </div>
      </div>
    </div>

<div class="col-sm-8">
  <span id="test_noti"></span>
    <div style="display: none;" id="page_info" data-test="<%= @test.id %>"></div>
    <div>
      <% if @test.session_expired_at and
        @test.session_expired_at.to_formatted_s(:number) > Time.now.to_formatted_s(:number) %>
        <button id="stopRecording" class="btn btn-danger btn-lg">Stop recording steps</button>
        The recording session is valid until <%= @test.session_expired_at.to_formatted_s(:number) %>
      <% else %>
          <button id="startRecording" class="btn-default btn btn-lg"><span class="glyphicon glyphicon-record"></span> Record Steps</button>
          <button id="addNewStep" class="btn-default btn btn-lg"><span class="glyphicon glyphicon-plus"></span> Add Step</button>
      <% end %>

      <% if @test.steps.count > 0 %>
          <button id="generate_code" class="btn-default btn btn-lg"><span class="glyphicon glyphicon-download"></span> Generate Code</button>
      <% end %>

      <% if @test.code_generated_at %>
          <a download="<%= @test.name %>.rb" id="dl_code" href="<%= @test.code_url current_user.language %>" class="btn-default btn btn-lg" target="_blank">
            <span class="glyphicon glyphicon-download"></span> Download Code</a>
    <% end %>
    </div><br><br>

      <div id="step-list">
          <% if @test.steps.count > 0 %>
            <div class="effect2">Test length: <strong><%= @test.steps.inject(0){|sum,step| sum + step.wait} %> millisec</strong>, <strong><%= @test.steps.count %> steps.</strong>
            </div>
              <% @test.steps.order('steps.order').each_with_index do |step, index| %>
                  <%= render "step/show", step: step , index: index %>
              <% end %>
          <% else %>
              <p>Once your test recording session is finished, its steps will be listed here.</p>
              <h4>To record your test actions on Chrome, please install our <a href="https://chrome.google.com/webstore/detail/uichecks-chrome-plugin/iicllodpmefpegdgkbjcknpbnehadokb"> Chrome extension</a>.</h4>
          <% end %>
      </div>
    </div>

  </div>
</div>
</div>
</div>
</div>

<br><br><br>
