<!DOCTYPE html>
<html>
<head>
  <title>UICheck</title>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>

<body>
<%= render 'layouts/copyable' %>

  <div class="container-fluid myheader">
    <a href="/">
        <div class="title-text">
            <div class="header-text">
                <h1 id ="site-title">UIChecks<small> Beta</small></h1>
            </div>
        </div>
    </a>
    <% if user_signed_in? %>
    <div class="menu-item">
    <ul>
      <li><%= link_to 'All Suites', suites_path %></li>
      <li><%= link_to 'All Tests', tests_path %></li>
      <li><a href="/doc">User Guide</a></li>
      <li><a href="https://chrome.google.com/webstore/detail/uichecks-chrome-plugin/iicllodpmefpegdgkbjcknpbnehadokb" target="_blank">Chrome Extension</a></li>
      <li>Hi <b><%= current_user.email %></b></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    </ul>
    </div>
    <% end %>
</div>

  <%= yield %>

<div class="container-fluid footer">
<p>Copyright © 2017 UIChecks. Made in Toronto, Canada.</p>
</div>
</body>
</html>
