<!DOCTYPE html>
<html>
<head>
  <title>Autotest</title>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>

<body>
<%= render 'layouts/copyable' %>

<% if user_signed_in? %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <%= link_to "Info Page", root_path %>  |
      <%= link_to 'All Test Suites', suites_path %> |
      <%= link_to 'All Tests', tests_path %> |
      <a href="/documentation">Doc</a> |
    </div>


    <div class="col-xs-4">
      hi <b><%= current_user.email %></b>
    </div>

    <div class="col-xs-2"><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </div>
  </div>
</div>
<% end %>

  <%= yield %>
</body>
</html>
