<!DOCTYPE html>
<html>
<head>
  <title>UI Checks</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>

<body>
<h2>Wellcome to UI Checks!</h2>

<% if user_signed_in? %>
    <a href="/suites">See your Tests</a>
<% else %>
    <a class="btn btn-primary" href="<%= new_user_session_path %>">Sign In</a>

    <a class="btn btn-danger" href="<%= user_google_oauth2_omniauth_authorize_path %>">Sign In with Google</a>
or
    <a class="btn btn-primary" href="<%= new_user_registration_path %>">Sign Up</a>
<% end %>

<h3>What is UI Checks</h3>
<p>Our <a href="https://chrome.google.com/webstore/detail/uichecks-chrome-plugin/iicllodpmefpegdgkbjcknpbnehadokb">Chrome Extension</a> records your testing actions on <b>Chrome Browser</b> and translate them into code that can be ran by Selenium. You can review the testing actions in a video afterward. Our platform current supports only Web testing, but Mobile testing is underway.</p>

<p><b>Little to none</b> programming skill is required to use UI Checks. However, knowledge about HTML, CSS and Javascript is helpful.</p>

<h3>How It Works</h3>
<p>
<h5><a href="/doc">Web</a></h5>
  You need to install and activate our <a href="https://chrome.google.com/webstore/detail/uichecks-chrome-plugin/iicllodpmefpegdgkbjcknpbnehadokb"> Chrome extension</a>. Once you click "Start Recording Steps", the extension will start listening to your actions on Chrome Browser. To end the recording session, hit "Stop Recording Steps" and an editable list of action steps will be shown. Our browser test recording only works on Chrome but all other features are compatible with all other major Browsers.
</p>

<p>
  A test can only be ran by one user when you click "Run Test". Once the running is complete, you will get a result page that includes video capture and assertion results.
</p>

<h3>Feedback</h3>
<p>We welcome your feedbacks! Please contact us at <b>roseskindergarten at gmail.com</b></p>

<h3>Upcoming features</h3>
<ul>Download your test in code so you can reproduce your tests locally.</ul>

</body>
</html>