<!DOCTYPE html>
<html>
<head>
  <title>Welcome to UI Checks</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "application", media: "all" %>
</head>

<body>
<a href="/doc" target="_blank">Documentation</a>
<% if user_signed_in? %>
    <a href="/suites">See your Tests</a>
<% else %>
    <a class="btn btn-primary" href="<%= new_user_session_path %>">Sign In</a>

    <a class="btn btn-danger" href="<%= user_google_oauth2_omniauth_authorize_path %>">Sign In with Google</a>
or
    <a class="btn btn-primary" href="<%= new_user_registration_path %>">Sign Up</a>
<% end %>

<h3>What is UI Checks</h3>
<p>You can test your digital properties effortlessly. Tests are created by a combination of automatic browser detecting and manually adding steps. Test results are captured in videos and evaluated by assertions.</p>


<p><b>Little to none</b> programming skill is required to use UI Checks. However, knowledge about HTML, CSS and Javascript is helpful.</p>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6">
      <h3>Test Existing Features</h3>
      <p>
        You need to install and activate our <b><a href="https://chrome.google.com/webstore/detail/uichecks-chrome-plugin/iicllodpmefpegdgkbjcknpbnehadokb"> Chrome Extension</a></b>. Once you click <button class="btn-primary btn">Record Steps</button>, the extension will start listening to your actions on Chrome Browser. To end the recording session, hit "Stop Recording Steps" and an editable list of action steps will be shown.
      </p>
    </div>

    <div class="col-xs-6">
      <h3>Test Driven Development</h3>
      <p>
        Test can be created even before your feature is actually built. To create a step, click <button class="btn-primary btn">Add Step</button> to select step type and set config data. You can run the test when the feature is actually built.
      </p>
    </div>
  </div>
</div>

<p>
  A test can only be ran by one user when you click <button class="btn-primary btn">Run Test</button>. Once the running is complete, you will get a result page that includes video capture and assertion results.
</p>

<h3>Limitations</h3>
<p>Our browser test recording only works on Chrome but all other features are compatible with all other major Browsers.
</p>
<p>We current supports only Web testing, but Mobile testing is underway.</p>

<h3>Feedback</h3>
<p>We welcome your feedbacks! Please contact us at <b>roseskindergarten at gmail.com</b></p>

<h3>Upcoming features</h3>
<ul>Download your test in code so you can reproduce your tests locally.</ul>

</body>
</html>